.page4 {
    grid-column: 1;
    grid-row: 4;

    /* sub-grid */
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
}

.page4_col1 {
    grid-column: 1;
    grid-row: 1;
}

.page4_col2 {
    grid-column: 2;
    grid-row: 1;
}

.page4_fill {
    width: 500px;
    height: 400px;
    background: olive;
}

.info_slug4 {
    width: 546px;
    height: 50px;

    margin-bottom: 1rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    font-size: 2.8rem;
    line-height: 59px;

    color: hsl(0, 0%, 20%);
}

.info_body4 {
    width: 612px;
    height: 155px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 1.4;
    /* or 124% */

    opacity: 45%;
}
.info_body4_1 {
    width: 612px;
    height: 154px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 1.4;
    /* or 124% */

    opacity: 45%;
}
.info_body4_2 {
    width: 612px;
    height: 165px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 1.4;
    /* or 124% */

    opacity: 45%;
}
