.button_header {
    width: 395px;
    height: 21px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    color: rgba(63, 63, 63, 0.7);
}

.text_field {
    width: 320px;
    height: 55px;

    background: #eaeaea;
    border-radius: 15px;
}

.text_field_hint {
    width: 200px;
    height: 42px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    /* identical to box height, or 233% */

    color: #787878;
}

.submit_button {
    width: 199px;
    height: 55px;

    background: #cc39ff;
    border-radius: 15px;
}

.submit_button_text {
    width: 103px;
    height: 42px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    /* identical to box height, or 233% */

    color: #ffffff;
}
