.header {
    left: 0;
    top: 0;
    /* width: 100%;
    height: 56px; */
    padding: 1%;
    background: #f5f5f5;
    z-index: 50;
}

.header_logo {
    width: 330px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 60px, 300px;
    grid-template-rows: repeat(1, [row] auto);
}

.header h1 {
    grid-column: 2;
    grid-row: 1;

    float: left;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: #474747;
}

.header img {
    grid-column: 1;

    /* width: 15%; */
    height: 60px;
}

/* .header nav {
    float: right;
    font-size: 100%;
}

.header nav a {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    padding: 0 15px;
    min-width: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    color: #a2a2a2;
    will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
    background: rgba(0, 0, 0, 0.2);
}

.header nav a.active {
    background: rgba(0, 0, 0, 0.4);
} */
